/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

.typewriter-wrapper {
    font-family: 'Roboto Mono', monospace;
    font-size: 150%;
    color: greenyellow;
    background-color: black !important;
    // background-color: #5e3494 !important;


    p {
      margin-bottom: 0;
    }
}